/* .nav{
    display: flex;
    justify-content:space-between;
    top: 0px;
    background-color: black;
    color: antiquewhite;
}
#search{
    height: 10px;
    width: 300px;
    margin-top: 30px
}

#user{
    height: 50px;
    width: 50px;
    margin-top: 30px;
} */

.head{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(202, 198, 198);
}

.logo{
    height: 50px;
    width: 60px;
    margin: 10px;
}

.nav-items{
    display: flex;
}

ul > li{
    padding: 10px;
    list-style: none;    
}                                                                                                                     

.link-style{
    text-decoration: none;
    color: black;
    cursor: pointer;
}  

.link-style:hover{
    color: brown;
}

.rescontainer{
    display: flex;
    flex-wrap: wrap;
}

.search{
    margin: 10px;
}

.rescard{
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
    cursor: pointer;
    text-align: center;
}

.rescard:hover{
    border: 2px solid black;
    background-color: aliceblue;
}

.resimg{
    height: 30vh;
    width: 100%;
    border-radius: 20%;
    text-align: center;
}

.foodapp{
   margin-right: 750px;
}

.filter{
    cursor: pointer;
    margin: 10px;
}

.filterdata{
    display: flex;
    justify-content: space-between;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 150px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(230, 227, 223);
}

.lbtn{
    cursor: pointer;
}

.menudelitems{
    text-align: center;
    width: 200px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: rgb(249, 248, 248);
}
.menuitems{
    border: 1px solid black;
    margin: 10px;
    width: 700px;
    text-align: center;
    padding: 10px;
    background-color: rgb(244, 242, 240);
    cursor: pointer;
}
.menuitems:hover{
    border: 2px solid black;
}
.resCardLi{
    text-decoration: none;
    color: black;
}

.user{
    border: 1px solid black;
    margin: 10px;
    width: 500px;
    text-align: center;
}